@font-face {
    font-family: 'Galano Regular';
    src: url('fonts/GalanoGrotesqueRegular.otf');
    font-display: swap;

}

@font-face {
    font-family: 'Galano Medium';
    src: url('fonts/GalanoGrotesqueMedium.otf');
    font-display: swap;
}

@font-face {
    font-family: 'Galano SemiBold';
    src: url('fonts/GalanoGrotesqueSemiBold.otf');

}

@font-face {
    font-family: 'Galano Bold';
    src: url('fonts/GalanoGrotesqueBold.otf');
    font-display: swap;

}

@font-face {
    font-family: 'Galano Light';
    src: url('fonts/GalanoGrotesqueLight.otf');
    font-display: swap;
}





*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    outline: none;
}

.container {
    max-width: 1470px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}



.table-responsive {
    min-height: .01%;
    overflow-x: auto;
}
.hero-section {
    width: 100%;
    background-image: url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 194px 0 294px 0
}

.hero-wraper h1 {
    color: #fff;
    font-size: 38px;
    line-height: 55px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Galano Bold';
}

.docx-info-wraper {
    padding: 50px;
    background: #FFFFFF;
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    background-image: url(../images/info-right-bg.svg);
    background-size: contain;
    background-position: top right;
    background-repeat: no-repeat;

}

.info-left {
    max-width: 70%;
    width: 100%;
}

.info-left p {
    display: flex;
    align-items: center;
    padding-bottom: 33px;
    font-family: 'Galano Regular';
    font-style: normal;
    font-size: 28px;
    line-height: 38px;
    color: #000;
}

.info-left span {
    display: inline-block;
    padding-right: 15px;
}

.info-left span img {
    width: 30px;
    display: block;
}

.info-right {
    max-width: 20%;
    width: 100%;
}

.info-right p {
    font-family: 'Galano Medium';
    font-style: normal;
    font-size: 28px;
    line-height: 38px;
    color: #FFFFFF;
    padding-bottom: 33px;
    padding-left: 15px;
}

.hero-wraper a {
    display: block;
    max-width: 217px;
    width: 100%;
    margin: 111px auto 0;
    color: #fff;
    background: #347853;
    border-radius: 90px;
    padding: 22px 0;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    font-family: 'Galano Medium';

}

.btm-wrapper {
    max-width: 1265px;
    width: 100%;
    background: #095279;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.4);
    border-radius: 131px;
    margin: 0 auto;
}

.btm-wrapper ul {
    list-style: none;
    display: flex;
    padding: 34px 0 39px 0;
    justify-content: center;
}

.btm-wrapper ul li {
    color: #fff;
    display: inline-block;
    padding: 0 75px;
    border-right: 1px solid #FFFFFF;
    font-style: normal;
    font-size: 28px;
    line-height: 34px;
    font-family: Galano Regular;
}

.btm-wrapper ul li:last-child {
    border: 0;
}

section.hero-bottom {
    margin-top: -30px;
}

.get-apostille {
    padding-top: 65px;
}

.get-apostille h2 {
    font-style: normal;
    font-size: 36px;
    line-height: 49px;
    color: #095279;
    text-align: center;
    padding-bottom: 65px;
    font-family: 'Galano Bold';
}

.get-wraper {
    display: flex;
    justify-content: space-between;
}

.pills-wraper {
    max-width: 75%;
    width: 100%;
}

.pillsBtns {
    display: flex;
}

.pillsBtns button {
    background-color: #CEDCE5;
    border-radius: 20px 20px 0px 0px;
    margin-right: 27px;
    padding: 27px 10px;
    font-style: normal;
    font-size: 30px;
    line-height: 41px;
    color: #000000;
    border: none;
    font-family: 'Galano Regular';
    display: flex;
    align-items: flex-start;
}

.pillsBtns button span {
    display: inline-block;
    margin-right: 15px;
}

.pills-wrapper {
    background-color: #F1F5F8;
    border-radius: 0px 20px 0px 0px;
    padding: 65px 31px;
}

.tablinks span img {
    width: 40px;
    height: 40px;
}

.tablinks.active {
    background-color: #347853;
    color: #fff;
}

.tablinks.active span svg path,
.tablinks.active span svg circle {
    fill: #fff !important;
}


.contentInner h3 {
    font-style: normal;
    font-size: 30px;
    line-height: 41px;
    color: #347853;
    padding-bottom: 20px;
    font-family: 'Galano Bold';
}

.checklist-right {
    max-width: 50%;
    width: 100%;
}

.checklist-right img {
    width: 100%;
}

.checklist {
    padding: 17px 30px;
    background-color: rgba(9, 82, 121, 0.15);
    border: 1px solid #000000;
    box-shadow: 0px 4px 5px 3px rgb(0 0 0 / 40%);
    border-radius: 45px;
    max-width: 79.5%;
    width: 100%;
    margin: 0 auto 51px;
    display: flex;
}

.checklist-left {
    max-width: 50%;
    width: 100%;
}

.checklist ul li {
    display: block;
    position: relative;
    list-style: none;
    color: #095279;
    font-style: normal;
    font-size: 25px;
    line-height: 34px;
    font-family: 'Galano Light';
    padding-bottom: 14px;
    padding-left: 30px;
}

.checklist ul li::before {
    position: absolute;
    content: '';
    width: 30px;
    height: 30px;
    background-image: url(../images/tick-mark.png);
    background-repeat: no-repeat;
    background-size: cover;
    left: -15px;
}

.checklist-right img {
    display: block;
}

.steps-wraper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.step-box {
    padding: 44px 25px;
    background-color: rgba(9, 82, 121, 0.15);
    border: 1px solid #000000;
    box-shadow: 0px 4px 5px 3px rgba(0, 0, 0, 0.4);
    border-radius: 45px;
    margin-bottom: 65px;
}

.step-box.step-odd {
    max-width: 45%;
    width: 100%;

}

.step-box.step-even {
    max-width: 52.5%;
    width: 100%;
}

.step-icon {
    display: flex;
    margin-bottom: 40px;
}

.step-icon img {
    width: 100px;
    height: 100px;
    display: block;
}

.step-desc {
    padding-left: 44px;
}

.step-desc h4 {
    font-style: normal;
    font-size: 24px;
    line-height: 32px;
    text-transform: capitalize;
    color: rgba(9, 82, 121, 0.3);
    font-family: 'Galano Medium';
}

.step-box .step-desc p {
    font-style: normal;
    font-size: 30px;
    line-height: 41px;
    text-transform: capitalize;
    color: #095279;
    font-family: 'Galano Bold';

}

.step-box p {
    font-style: normal;
    font-size: 25px;
    line-height: 34px;
    color: #095279;
    font-family: 'Galano Regular';
    position: relative;
    padding-left: 30px;
}

.step-box p::before {
    position: absolute;
    content: '';
    width: 30px;
    height: 30px;
    background-image: url(../images/tick-mark.png);
    background-repeat: no-repeat;
    background-size: cover;
    left: -15px;
}

.apostille-country {
    width: 100%;
    padding: 60px 0;
}

.apostille-country-wraper {
    max-width: 75%;
    background-color: #095279;
    border-radius: 40px;
    padding: 60px 40px 20px 60px;
}

.apostille-country-wraper h2 {
    text-align: center;
    position: relative;
    font-style: normal;
    font-size: 36px;
    line-height: 49px;
    font-family: 'Galano Bold';
    color: #fff;
    padding-bottom: 60px;
}

.apostille-country-wraper h3 {
    position: relative;
    font-style: normal;
    font-size: 36px;
    line-height: 49px;
    font-family: 'Galano Bold';
    color: #fff;
    padding-bottom: 30px;
    padding-left: 13px;
}

.apostille-country-wraper h3::before {
    position: absolute;
    content: '';
    width: 50px;
    height: 50px;
    background-image: url(../images/indian-apostile.png);
    background-repeat: no-repeat;
    background-size: cover;
    left: -40px;
    top: -5px;
}

.apostille-country-wraper p {
    font-style: normal;
    font-size: 26px;
    line-height: 47px;
    text-align: center;
    font-family: 'Galano Light';
    color: #fff;
    padding-bottom: 30px;
    max-width: 84.3%;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 20px;
}

.apostille-country-wraper h4 {
    font-style: normal;
    font-size: 26px;
    line-height: 47px;
    text-align: center;
    font-family: 'Galano Bold';
    color: #fff;
    max-width: 84.3%;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 25px;
}

.Indain-appostile {
    display: flex;
    justify-content: space-between;
}

.Indain-appostile ul {
    list-style: none;
    max-width: 55%;
    width: 100%;
}

.Indain-appostile ul li {
    font-style: normal;
    font-size: 26px;
    line-height: 35px;
    font-family: 'Galano Light';
    padding-bottom: 15px;
    color: #fff;
    position: relative;
    padding-left: 20px;
    display: flex;
    align-items: center;
}

.Indain-appostile ul li::before {
    position: absolute;
    content: '';
    width: 30px;
    height: 30px;
    background-image: url(../images/back-to.png);
    background-repeat: no-repeat;
    background-size: cover;
    left: -20px;
    top: 0;
}

.apostille-country-wraper img {
    display: block;
}

.accordion-body {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.accordion-body .single-acco {
    max-width: 48%;
    width: 100%;


}

.faqs-wraper h2 {
    font-style: normal;
    font-size: 36px;
    line-height: 49px;
    color: #095279;
    font-family: 'Galano Bold';
    text-align: center;
    padding-bottom: 40px;
}

/* accordion title  */
.single-acco h4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F1F5F8;
    padding: 15px;
    cursor: pointer;
    margin-bottom: 15px;
    font-family: 'Galano Bold';
    transition: 0.3s ease all;
}

.single-acco h4:hover {
    color: #fff;
    background: #095279;
}

/* accordion body  */
.accodion-body {
    background: #eee;
    padding: 1rem;
    margin-bottom: 20px;
    display: none;
}

.accodion-body:first-child {
    display: block;
}

.single-acco h4 span img {
    width: 60px;
    height: 60px;
    transition: 0.3s ease all;
}

.single-acco.active h4 span img {
    transform: rotate(45deg);
    transition: 0.3s ease all;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.table {
    width: 100%;
    font-size: 14px;
    line-height: 18px;
    margin: 0 0 20px;
    background: #f2f0f0;
    border: 1px solid #f2f0f0;
    color: #000000;
}

td {
    text-align: center;
}

.head {
    padding: 24px 0;
    background-color: #CEDCE5;
}

.head span {
    color: #095279;
    font-style: normal;
    font-size: 30px;
    line-height: 41px;
    font-family: 'Galano Medium';
}

.table .odd-head th {
    background-color: #F1F2F2;
    padding: 12px 0;
    font-style: normal;
    font-family: 'Galano SemiBold';
    font-size: 26px;
    line-height: 35px;
    letter-spacing: 0.045em;
    text-transform: capitalize;
}

.inner-info td {
    background-color: #D1D3D4;
    padding: 12px 0;
    font-style: normal;
    font-size: 26px;
    line-height: 35px;
    text-transform: capitalize;
    color: #000;
    font-family: 'Galano Regular';
}

.inner-info td strong,
.last-info td strong {
    font-family: 'Galano Medium';
}

.last-info td {
    background-color: #F1F2F2;
    padding: 12px 0;
    font-style: normal;
    font-size: 26px;
    line-height: 35px;
    text-transform: capitalize;
    color: #000;
    font-family: 'Galano Regular';
}

.formInner {
    background-color: #F1F5F8;
    padding: 0 12px;
}

.form_fields label,
.form_fields select {
    display: block;
    width: 100%;
}

.form_fields label {
    padding-bottom: 15px;
    color: #095279;
    font-family: 'Galano Bold';
}

.form_fields {
    padding-top: 15px;
}

.form_fields select {
    height: 40px;
    background: #CEDCE5;
    border-radius: 15px;
    outline: none;
    padding-left: 20px;
    font-family: 'Galano Regular';
}

.cost {
    display: flex;
    margin-top: 15px;
    padding-left: 11px;
    justify-content: space-between;
    padding-bottom: 15px;
}

.cost p {
    max-width: 60%;
    width: 100%;
    font-style: normal;
    font-size: 14px;
    line-height: 19px;
    font-family: 'Galano Medium';
    color: rgba(9, 82, 121, 0.6);
}

.cost span {
    max-width: 30%;
    width: 100%;
    background-color: #095279;
    border-radius: 15px;
    text-align: center;
    display: block;
    color: #fff;
    padding: 10px 0;
}

h4.form-head {
    background: #CEDCE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px 20px 0px 0px;
    font-style: normal;
    font-size: 25px;
    line-height: 34px;
    color: #095279;
    text-align: center;
    padding: 15px 10px;
    font-family: 'Galano Medium';

}

.orderBtn {
    display: block;
    background-color: #439C6C;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    cursor: pointer;
    text-decoration: none;
    font-size: 24px;
    font-family: 'Galano Regular';
}

.formWrapper {
    margin-top: 115px;
}




@media (max-width:1470px) {
    .container {
        max-width: 1200px;
    }

    .info-left p,
    .info-right p {
        padding-bottom: 20px;
        font-size: 25px;
        line-height: 30px;
    }

    .info-right {
        max-width: 12%;
        width: 100%;
    }

    .docx-info-wraper {
        padding: 30px;
    }

    .info-left span img {
        width: 20px;
    }

    .btm-wrapper ul {
        padding: 20px 0;
    }

    .btm-wrapper ul li {
        padding: 0 75px;
        font-size: 25px;
        line-height: 30px;
    }

    .get-apostille h2 {
        font-size: 30px;
        line-height: 40px;
        padding-bottom: 40px;
    }

    .get-apostille {
        padding-top: 50px;
    }

    .pillsBtns button {
        padding: 10px;
        font-size: 20px;
        line-height: 30px;
    }

    .pillsBtns button span {
        margin-right: 10px;
    }

    .pills-wrapper {
        padding: 40px 20px;
    }

    .contentInner h3 {
        font-size: 25px;
        line-height: 35px;
    }

    .checklist ul li::before,
    .step-box p::before {
        width: 20px;
        height: 20px;
        left: 0;
        top: 5px;
    }

    .checklist ul li {
        font-size: 20px;
        line-height: 30px;
    }

    .step-box {
        padding: 20px;
        margin-bottom: 30px;
    }

    .step-desc h4 {
        font-size: 20px;
        line-height: 30px;
    }

    .step-box .step-desc p {
        font-size: 22px;
        line-height: 30px;
    }

    .step-desc {
        padding-left: 20px;
    }

    .step-icon img {
        width: 70px;
        height: 70px;
    }

    .step-icon {
        margin-bottom: 20px;
    }

    .step-box p {
        font-size: 20px;
        line-height: 30px;
    }

    .formWrapper {
        margin-top: 70px;
        width: 24%;
    }

    h4.form-head {
        font-size: 20px;
        line-height: 30px;
        padding: 10px;
    }

    .head {
        padding: 10px 0;
    }

    .head span {
        font-size: 20px;
        line-height: 30px;
    }

    .table .odd-head th,
    .inner-info td,
    .last-info td {
        padding: 10px 0;
        font-size: 18px;
        line-height: 25px;
        text-transform: capitalize;
    }

    .apostille-country-wraper {
        padding: 40px;
    }

    .apostille-country-wraper h2 {
        font-size: 30px;
        line-height: 40px;
        padding-bottom: 30px;
    }

    .apostille-country-wraper h3 {
        font-size: 25px;
        line-height: 35px;
        padding-bottom: 10px;
    }

    .apostille-country-wraper h3::before {
        width: 30px;
        height: 30px;
        left: -20px;
        top: 0;
    }

    .apostille-country-wraper p {
        font-size: 20px;
        line-height: 30px;
        padding-bottom: 20px;
        max-width: 100%;
    }

    .apostille-country-wraper h4 {
        font-size: 25px;
        line-height: 35px;
        max-width: 100%;
    }

    .Indain-appostile {
        flex-direction: column;
    }

    .Indain-appostile ul {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .Indain-appostile ul li {
        font-size: 20px;
        line-height: 30px;
        padding-bottom: 10px;

    }

    .Indain-appostile ul li::before {
        width: 20px;
        height: 20px;
        left: -10px;
        top: 5px;
    }

    .faqs-wraper h2 {
        font-size: 30px;
        line-height: 40px;
    }


    .single-acco h4 span img {
        width: 40px;
        height: 40px;
    }

    .orderBtn {
        padding: 10px 0;
        font-size: 18px;
    }

    .tablinks span svg {
        width: 30px;
        height: 30px;
    }

    .apostille-country-wraper img {
        width: 80%;
        margin: 0 auto;
    }
}

@media (max-width:1200px) {
    .btm-wrapper ul li {
        padding: 0 50px;
        font-size: 22px;
    }

    .info-left {
        max-width: 80%;
    }

    .get-wraper {
        flex-direction: column;
    }

    .pills-wraper {
        max-width: 100%;
    }

    .formWrapper {
        width: 50%;
        margin: 20px auto 0;
    }

    .apostille-country-wraper {
        max-width: 100%;
    }

    .info-right {
        max-width: 17%;
    }
}

@media (max-width:991px) {
    .docx-info-wraper {
        padding: 20px;
    }

    .info-left p,
    .info-right p {
        padding-bottom: 15px;
        font-size: 18px;
        line-height: 20px;
    }

    .info-left span img {
        width: 15px;
    }

    .info-left span {
        padding-right: 10px;
    }

    .info-right {
        max-width: 15%;
    }

    .btm-wrapper ul li {
        padding: 0 30px;
        font-size: 20px;
    }

    .get-apostille h2 {
        font-size: 25px;
        line-height: 35px;
    }

    .checklist {
        max-width: 100%;
    }

    .steps-wraper {
        flex-direction: column;
    }

    .step-box.step-odd,
    .step-box.step-even {
        max-width: 70%;
        width: 100%;
        margin: 0 auto 30px;
    }
}

@media (max-width:767px) {
    .formWrapper {
        width: 70%;
    }

    .apostille-country-wraper h2 {
        font-size: 25px;
        line-height: 35px;
    }

    .apostille-country-wraper {
        padding: 30px;
    }

    .apostille-country-wraper p {
        font-size: 18px;
        line-height: 25px;
    }

    .faqs-wraper h2 {
        font-size: 25px;
        line-height: 30px;
    }

    .accordion-body {
        flex-direction: column;
    }

    .accordion-body .single-acco {
        max-width: 100%;
    }

    .apostille-country-wraper h3 {
        font-size: 20px;
        line-height: 30px;
    }

    .apostille-country-wraper h3::before {
        width: 25px;
        height: 25px;
        left: -20px;
        top: -1px;
    }
    .head span {
        font-size: 18px;
        line-height: 24px;
    }
    .table .odd-head th, .inner-info td, .last-info td {
        padding: 10px 0;
        font-size: 16px;
        line-height: 20px;
    }
    .step-box.step-odd, .step-box.step-even {
        max-width: 90%;
    }
    .btm-wrapper ul li {
        padding: 0 15px;
        font-size: 18px;
    }
    .docx-info-wraper {
        padding: 15px;
        background-image: none;
    }
    .info-right p {
        padding-left: 0px;
        color: #000;
    }
    .checklist {
        flex-direction: column;
    }
    .checklist-left {
        max-width: 100%;
        width: 100%;
        margin-bottom: 20px;
    }
    .checklist-right {
        max-width: 70%;
        width: 100%;
        margin: 0 auto;
    }
    .step-icon img {
        width: 50px;
        height: 50px;
    }
}
@media (max-width:575px) {
    .pillsBtns {
        flex-direction: column;
    }
    .pillsBtns button {
        margin-bottom: 20px;
    }
    .btm-wrapper ul li {
        padding: 0px 10px;
        font-size: 18px;
        line-height: 20px;
    }
    .get-apostille h2 {
        font-size: 20px;
        line-height: 30px;
    }
    .table {
        min-width: 600px;
    }
    .table-responsive{
        overflow-x: scroll;
    }
    .formWrapper {
        width: 100%;
    }
    
    
    .step-box .step-desc p {
        font-size: 18px;
        line-height: 24px;
    }
    .step-box p {
        font-size: 16px;
        line-height: 24px;
    }
    .apostille-country-wraper h2 {
        font-size: 22px;
        line-height: 32px;
    }
    .apostille-country-wraper p {
        font-size: 16px;
        line-height: 24px;
    }
    .apostille-country-wraper h4 {
        font-size: 20px;
        line-height: 30px;
    }
    .Indain-appostile ul li {
        font-size: 18px;
        line-height: 24px;
    }
    .checklist ul li {
        font-size: 16px;
        line-height: 20px;
    }
}
@media (max-width:470px) {
    .btm-wrapper ul li {
        font-size: 12px;
    }
}